<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Google.OrTools" version="7.4.7247" targetFramework="net461" />
  <package id="Google.OrTools.runtime.linux-x64" version="7.4.7247" targetFramework="net461" />
  <package id="Google.OrTools.runtime.osx-x64" version="7.4.7247" targetFramework="net461" />
  <package id="Google.OrTools.runtime.win-x64" version="7.4.7247" targetFramework="net461" />
  <package id="Google.Protobuf" version="3.10.0" targetFramework="net461" />
</packages>